<center><img src="/president.jpg" alt="obama" height="300"></center>
<br>
<p> Being our 44th one, President Barack Obama has done a commendable job at his presidency. Some of his biggest accomplishments were: passing health care reform, passing the stimulus, passing the wall street reform, ending the war in Iraq, beginning the end of the war with Afghanistan, eliminating Osama Bin Laden, turning around the U.S. Auto industry, Recapitalizing Banks, Repealing Don't Ask, Don't Tell, and removing Bush's torture policies.  </p>