<center><img src="/mich.jpeg" alt="michelle" height="300"></center>
<br>
<p> Our 44th First Lady shouldn't be forgotten. More than being a great support to our POTUS, Michelle Obama has done wonders with her position. Some of her achievements are: launching Let's Move!, passing her School Lunch program, convincing regional grocers to open in communities with little access to healthy food, and convincing Darden to offer healthier options on their kids menus.  a</p>